footer.footer 
    - const d = new Date();
    - let year = d.getFullYear();

    .footer-content 
        h3 All rights Reserved. Copyright - #{year}
        |
        h2.copy Preview Blog 
        | Trusted Source, Reliable Information...

    
        