extends ../layouts/layout.pug 
block content
    .tag(style="color: red; text-align: center; font-weight: bold; font-family: cursive; text-transform: capitalize; letter-spacing: 6px; ")=tags
    .post-container(style="max-width: 1000px; display: flex; flex-direction: column; justify-content: center; margin: auto;  padding:3rem; font-size: 1.3rem; line-height: 1.8;")=content
