*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
background: #eee;
}

.header{
padding: 1rem 0;
display: flex;
align-items: center;
justify-content: space-around;
background: rgba(245, 245, 220, 0.497);
font-weight: bold;
position: sticky;
top: 0;
}

.nav-links{
display: flex;
gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: #231717;
    transition: 1.1s ease-out;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.nav-links a:hover{
    background-color: teal;
    border-radius: .5rem;
    color: azure;
    transition: .5s ease;
}


img{
max-width: 100%;
width: 50%;
height: auto;
margin: 1rem 0;
}

h3{
display: flex;
justify-content: center;
margin: 1.2rem 0;
}

h1{
margin: 1rem 0 3rem 0;
font-size: 3rem;
}

a{
text-decoration: none;
color: inherit;
}

/* hero section */

.hero{
display: flex;
justify-content: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(0, 0, 0, 0.192);
border-radius: 1rem;
background-blend-mode: overlay;
margin: 3rem;
padding: 2rem;
height: 70vh;
width: auto;
box-shadow: 0px 4px 10px #2317177e;
object-fit: cover;
align-items: baseline;
}

.hero-desc{
    text-align: center;
    color:white;
    max-width: 60ch;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    text-transform: capitalize;
    letter-spacing: 10px;
}

.hero-title p{
    max-width: 500px;
    align-items: center;
    text-align: center;
    color: #231717f9;
    margin: 0 0 1.2rem 0;
    font-size: 1.1rem;
}

.hero-title a{
text-decoration: none;
color: red;
font-size: 1.2rem;
font-family: cursive;
display: flex;
justify-content: center;
background-color: teal;
max-width: 120px;
border-radius: .3rem;
transition:  .8s ease;
}

._link:hover{
color: #eee;
transition:  .3s ease;
}

.post{
width: 100%;
max-width: 500px;
overflow: hidden;
display: grid;
padding: 2rem;
box-shadow: 0px 2px 5px #2317172b;
border-radius: 1rem;
background:  rgba(245, 245, 220, 0.497);
}

.post-title{
text-transform: capitalize;
}

.post-image{
width: 100%;
max-width: 500px;
border-radius: 1rem;
}

.container{
display: grid;
grid-template-columns: repeat(3, minmax(300px, 500px));
gap: 2rem;
place-content: center;
}

.content p{
margin: 1rem 0;
}

.content span{
font-weight: bold;
font-family: cursive;
color: red;
}

.see-more:hover{
color: teal;
transition: .5s ease-out;
}

.footer{
background-color: Teal;
margin: 4rem 0 0 0;
position: sticky;
}

.footer-content{
padding: 1rem 2rem;
align-items: center;
display: flex;
flex-direction: column;
gap: 1rem;
}

.copy{
color: #eee;
font-weight: bold;
}

